{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">HealthMate</h1>
    <p class="lead">Streamlined Appointment Scheduling for Doctors</p>
    <hr class="my-4">
    <p>Welcome, Doctors, to HealthMate Eye Hospital!</p>
    <p>At HealthMate, we understand the importance of efficient time management for medical professionals. That's why we offer a state-of-the-art digital appointment system designed to make your daily schedule easier than ever.</p>
    <p>Key features of our digital appointment system:</p>
    <ul>
        <li>Real-time Appointment Booking</li>
        <li>Automatic Patient Reminders</li>
        <li>Integrated Patient Records</li>
        <li>Customizable Time Slots</li>
    </ul>
    <p>Spend less time on administrative tasks and more time focusing on patient care. Join our community of doctors and experience the convenience of modern appointment management.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
</div>
{% endblock %}
