<!-- Include Bootstrap CSS and JavaScript -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<!-- Your HTML code with Bootstrap classes -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Information Page{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/css/bootstrap.min.css">
    <style>
        /* Custom styles for the first column (sidebar) */
        .custom-sidebar {
            width: 280px;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #343a40;
            padding: 0px;
            color: white;
        }

        /* Adjust the margin for the content column to create space next to the sidebar */
        .custom-content {
            margin-left: 280px; /* Same as the width of the sidebar */
            padding: 20px;
        }
    </style>
</head>
<body style="background-color: #f5f5f0;">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 custom-sidebar">
            <!-- Sidebar -->
            <nav id="sidebar" class="d-flex flex-column p-3 text-white bg-dark"
                 style="width: 280px; height: 100vh; position:fixed;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    <span class="fs-4 fw-bolder p-2 mb-2 bg-secondary bg-gradient border border-dark border-3 rounded-pill">
                        Deshpande Eye Hospital</span>
                </a>
                <hr>

                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="{% url 'info' %}"
                           class="nav-link {% if request.resolver_match.url_name == 'info' %}active{% endif %}"
                           aria-current="page">
                            <i class="bi bi-house-fill" style="font-size: 1.3rem;color:white;"></i>
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#home"></use>
                            </svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'timeslots' %}"
                           class="nav-link {% if request.resolver_match.url_name == 'timeslots' %}active{% endif %}">
                            <i class="bi bi-calendar-plus-fill" style="font-size: 1.3rem;color:white;"></i>
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            TimeSlots Entry
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'appointment_detail' %}"
                           class="nav-link {% if request.resolver_match.url_name == 'appointment_detail' %}active{% endif %}">
                            <i class="bi bi-shield-fill-plus" style="font-size: 1.3rem;color:white;">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#table"></use>
                                </svg>
                            </i>
                            Appointments
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <i class="bi bi-clock-history" style="font-size: 1.3rem;color:white;">
                                <svg class="bi me-2" width="16" height="16">
                                    <use xlink:href="#grid"></use>
                                </svg>
                            </i>
                            History

                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white">
                            <i class="bi bi-info-circle-fill" style="font-size: 1.3rem;color:white;"></i>
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#people-circle"></use>
                            </svg>
                            About
                        </a>
                    </li>
                </ul>

                <hr>
                <button class="btn btn-danger" data-toggle="modal" data-target="#logoutModal">
                    Logout
                </button>
            </nav>
        </div>
        <!--        <div class="row">-->
        <div class="col-md-9 custom-content">
            <!-- Content -->
            <main class="col-md-9 ms-sm-auto px-md-6">

                {% block content %}
                <!-- Content from profile.html will go here -->
                {% endblock %}

            </main>
        </div>
        <!--        </div>-->
    </div>
</div>

<!-- Logout Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to logout?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
