{% extends 'master.html' %}

{% block title %} User Profile {% endblock %}

{% block content %}

<style>
<!--    body-->
<!--    {-->
<!--     background-color: #EAECEE;-->
<!--    }-->

</style>

<div class="container">
        <div class="d-flex align-items-center justify-content-center" style="margin-left: 100px;">
          <h1 class="text-center">Doctor Appointments</h1>
        </div>
        <p>Hello, <b>Dr. {{ doctor.doctor_name }}</b></p>
        <table class="table table-bordered table-hover" style="border: ; width: 135%; margin: 0 auto;">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>ID</th>
                    <th>Patient</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Purpose</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                    <tr class="border">
                        <td>{{ appointment.appointment_id }}</td>
                        <td>{{ appointment.patient.patient_name }}</td>
                        <td>{{ appointment.appointment_date }}</td>
                        <td>{{ appointment.appointment_time }}</td>
                        <td>{{ appointment.appointment_purpose }}</td>
                        <td>
                            {% if appointment.availability %}
                                <p class="text-success font-weight-bold">Confirmed</p>
<!--                                <span class="button bg-success">Confirmed</span>-->
                            {% else %}
                            <p class="text-danger font-weight-bold">Unconfirmed</p>
<!--                                <span style="color:white;" class="badge bg-danger">Unconfirmed</span>-->
                            {% endif %}
                        </td>
                        <td>
                            {% if appointment.availability %}
                                <form method="post" action="{% url 'cancel_appointment' appointment.appointment_id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger">Cancel</button>
                                </form>
                            {% else %}
                                <form method="post" action="{% url 'confirm_appointment' appointment.appointment_id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-success">Confirm</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

            </table>

        <!-- Pagination controls -->
              <nav class="text-center" aria-label="Page navigation example">
                  <ul class="pagination justify-content-center">
                    {% if appointments.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                          <span aria-hidden="true">&laquo;&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="?page={{ appointments.previous_page_number }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                    {% endif %}

                    <li class="page-item"><span class="page-link">{{ appointments.number }}</span></li>

                    {% if appointments.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ appointments.next_page_number }}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="?page={{ appointments.paginator.num_pages }}" aria-label="Last">
                          <span aria-hidden="true">&raquo;&raquo;</span>
                        </a>
                      </li>
                    {% endif %}
                  </ul>
              </nav>
</div>
{% endblock %}
